@font-face {
    font-family: Questrial;
    src: url(../assets/fonts/Questrial-Regular.ttf)
  }
/*Global*/
* {
    margin: 0;
    padding: 0;
    font-family: Questrial, sans-serif;
    list-style: none;
    overflow: hidden;
}
a {
    text-decoration: none;
}
:root {
    --azul: #10286b;
    --vermelho: #CF0908;
}
/*Header*/
#background{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
}
video{
    z-index: -2;
    width: 120%;
    height: 100%;
    position: fixed;
    object-fit: cover;
}

#app{
    z-index: 3;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.logo img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}
.nav{
    flex: 1;
}
.nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: white;
}
.nav a{
    color: white;
    transition: all 0.3s;
}

.nav a:hover{
    color: #3151a8;
    border-bottom: 3px solid var(--azul);
    border-radius: 5px;
    transition: all 0.3s;
}
.redes-sociais ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.redes-sociais i{
    font-size: 1.6rem;
    padding: 10px;
    color: white;
    transition: all 0.3s;

}
.redes-sociais i:hover{
    color: #3151a8;
    transform: translateY(-5px);
    transition: all 0.3s;
}
/*Main*/
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
.conteudo{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
    margin-left: 40px;
}
.conteudo img{
    width: 80%;
}
.sinopse{
    font-weight: normal;
    font-size: 1.3rem;
    text-indent: 10px;
    text-align: justify;
    color: white;
    line-height: 25px;
}
.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s;
    padding: 10px;
}
.botoes a{
    transition: 0.5s;
}
@media (max-width: 700px){
    .botoes{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        transition: 0.5s;
        padding: 10px;
    }
}
.botoes a:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.botoes :nth-child(1){
    background: linear-gradient(-10deg, rgb(83, 7, 7) 0% ,var(--azul) 70%, var(--azul) 50%);
    color: aliceblue;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #021d68;
    text-transform: uppercase;
}
.botoes :nth-child(2){
    background-color: transparent;
    color: aliceblue;
    padding: 20px 20px;
    border-radius: 15px;
    border: 2px solid #021d68;
    text-transform: uppercase;
}
.sonic img{
    width: 350px;
    margin-right: 100px;
}
/*Footer*/

